.App {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: #ddffd3bf;
}

.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h"
  "n c" ;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 3px;
}

.app-wrapper-content {
	grid-area: c;
  position: relative;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: auto !important;
}

.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}